body {
    background:white
}

.nav > li:hover .underline{
    width:100%;
    border-bottom: 1px solid blue;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition:  2s ease;
    transition: 2s ease;
}

.underline {
    background: red;
    height: 1px;
    width:0%;
    border-bottom: 1px solid blue;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition:  .5s ease;
    transition: .5s ease;
}

#logo {
    margin-top: -14px;
    margin-right: 15px;
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#logo:hover{
    animation: rotateLogo 5s linear infinite;
}

@keyframes rotateLogo {
    25%{
        transform: rotateZ(-60deg);
    }
    75%{
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#about {
    width: 100%;
}

#team {
    width: 100%;
}

.constantUnderline {
    height: 3px;
    width: 50px;
    background: green;
    margin-bottom: 20px;
}
.test {
    background: red;
}

.team-member{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.team-member img {
    position: relative;
    height: 100%;
    width: 100%;
}

.lower {
    position: absolute;
    bottom: -50px;
    background: green;
    cursor: pointer;
    right: 15px;
    left: 15px;
    vertical-align: middle;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition:  .5s ease;
    transition: .5s ease;
}

.full-name{
}

.full-profile {
    height: 50px;
    width: 100%;
    background: orange;
    vertical-align: middle;
}

.full-profile span {
    vertical-align: center;
}

.lower:hover {
    bottom: 0px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition:  .5s ease;
    transition: .5s ease; 
}

.break {
    margin-bottom: 75px;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading > .constantUnderline {
    margin: 10px auto 50px auto;
}

.service {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.service > .service-icon {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}

