body {
    background:white
}

.nav > li:hover .underline{
    width:100%;
    border-bottom: 1px solid blue;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition:  2s ease;
    transition: 2s ease;
}

.underline {
    background: red;
    height: 1px;
    width:0%;
    border-bottom: 1px solid blue;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition:  .5s ease;
    transition: .5s ease;
}

#logo {
    margin-top: -14px;
    margin-right: 15px;
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#logo:hover{
    animation: rotateLogo 5s linear infinite;
}

@keyframes rotateLogo {
    25%{
        transform: rotateZ(-60deg);
    }
    75%{
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#about {
    width: 100%;
}

#team {
    width: 100%;
    height: 400px;
    background: white;
}

.constantUnderline {
    height: 3px;
    width: 50px;
    background: green;
}
.test {
    background: red;
}

.team-member {
    height: 300px;
    overflow: hidden;
}

.upper {
    height: 200px;
    width: 100%;
}

.team-member img {

    height: 100%;
    width: 100%;
    display: block;
    background: red;
}

.lower {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    background: green;
    height: 100px;
    width: 100%;

}


