	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 125px;
font-style: normal;
margin-left: 20px;
}

.flaticon-anesthesia-dentist-injection-diagonal-symbol:before { content: "\f100"; }
.flaticon-apple:before { content: "\f101"; }
.flaticon-dental-caries:before { content: "\f102"; }
.flaticon-dental-floss:before { content: "\f103"; }
.flaticon-dentist:before { content: "\f104"; }
.flaticon-dentist-bottle-with-liquid:before { content: "\f105"; }
.flaticon-dentist-drugs-container:before { content: "\f106"; }
.flaticon-dentist-tools:before { content: "\f107"; }
.flaticon-dentist-tools-1:before { content: "\f108"; }
.flaticon-dentist-tooth-with-metallic-root:before { content: "\f109"; }
.flaticon-dentists-drill-tool:before { content: "\f10a"; }
.flaticon-drop:before { content: "\f10b"; }
.flaticon-female-mouth-lips:before { content: "\f10c"; }
.flaticon-first-aid-kit-bag:before { content: "\f10d"; }
.flaticon-forceps-of-dentist-tools:before { content: "\f10e"; }
.flaticon-lifeline-of-heartbeat-in-a-circle:before { content: "\f10f"; }
.flaticon-note-on-a-clipboard:before { content: "\f110"; }
.flaticon-pill-capsule:before { content: "\f111"; }
.flaticon-tooth:before { content: "\f112"; }
.flaticon-tooth-outline:before { content: "\f113"; }
.flaticon-tooth-outline-1:before { content: "\f114"; }
.flaticon-tooth-zoom:before { content: "\f115"; }
.flaticon-toothbrush:before { content: "\f116"; }
.flaticon-toothpaste-tube:before { content: "\f117"; }
.flaticon-zoom-on-tooth:before { content: "\f118"; }
